@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

@theme {
    --font-kufam: "Kufam", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-inter-tight: "Inter Tight", sans-serif;
}

.slide-up {
    animation-name: slide-up;
    animation-duration: 0.5s; /* Yoki 1s */
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
