@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

@theme {
    --font-kufam: "Kufam", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-inter-tight: "Inter Tight", sans-serif;
}

.slide-up {
    animation-name: slide-up;
    animation-duration: 0.5s;
    /* Yoki 1s */
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    background:
        radial-gradient(farthest-side, #ffa516 90%, #0000) center/16px 16px,
        radial-gradient(farthest-side, green 90%, #0000) bottom/12px 12px;
    background-repeat: no-repeat;
    animation: l17 1s infinite linear;
    position: relative;
    text-align: center;
}

.loader::before {
    content: "";
    position: absolute;
    width: 8px;
    aspect-ratio: 1;
    inset: auto 0 16px;
    margin: auto;
    background: #ccc;
    border-radius: 50%;
    transform-origin: 50% calc(100% + 10px);
    animation: inherit;
    animation-duration: 0.5s;
}

@keyframes l17 {
    100% {
        transform: rotate(1turn)
    }
}

::-webkit-scrollbar {
    width: 6px;
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.no-scrollbar {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
